# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
/src(afret dop. 09.02.22).rar
/src(ДОП1).rar
/src(ДОП2).rar
/src-доп 09.02.22(надо сделать).rar
/src1.rar
/src2.rar
/src2withDZ.rar
/src3.rar
/src4.rar
/src5.1.rar
/src6.rar